<html style="display: table; margin: auto;">
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Like two drops of water?!</title>
    </head>
    <body bgcolor="#FFF7F7" style="max-width:100%,  display: table-cell; horizontal-align: middle;vertical-align: middle;">
        <center><img src="http://s27.postimg.org/tvb3aqxo3/title_img.png" alt="Like two drops of water?!"></center>
        <h2 style="text-align:center; font-family: Tw Cen MT;">Help me to decide whether two code snippets are similar :)</h2>
        <h3 style="text-align:center;align:center; font-family: Tw Cen MT;font-weight:normal;width:50%;margin: auto">I am a MSc student at the Technion Computer Science faculty and I need your help! My research focus is finding similarity between multi-language code snippets, help me decide whether two code snippets are similar.
Some of the snippets are similar and some are totally different. Multi programming languages knowledge is needed.
        Thank you!!!</h3>
        <form action="" method="post" name="next" style="text-align:center">
            <p><input style="text-align:center;align:center; font-family: Tw Cen MT;font-weight:bold;margin: auto; font-size: 20pt; border: none; color: #d22593;background: none;"  type="submit" name="btn" value="Go back"></p>
        </form>
        <center><img src="http://s10.postimg.org/gau23tbzp/Nerdy_Kitty_hello_kitty_35898181_782_917.png" alt=":)"></center>
    </body>
</html>