<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Erubescent 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131115

-->
<html xmlns="http://www.w3.org/1999/xhtml" class="about_html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Like2Drops</title>
<meta name="keywords" content="" />
<meta name="description" content="Like2Drops" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="../static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body class="about_body">
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1>Like2Drops</h1>
			<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Homepage</a></li>
				<li class="current_page_item"><a href="about" accesskey="2" title="">Explanations</a></li>
                <li><a href="http://www.cs.technion.ac.il/~mbs/" accesskey="3" title="">About Me</a></li>
                <li><a href="download"  accesskey="4" title="">Download Data</a></li>

			</ul>
		</div>
		</div>
	</div>
</div>
<div id="header-featured"> </div>
<div id="banner-wrapper" style="background: #FFF;">
	<div id="banner" class="small_container">
		<h1>Help me to decide whether two code snippets are similar.</h1>
        <h3 width="60%">I am a graduate student at the Technion Computer Science faculty and I need your help!</br>
            My research focus is finding similarity between multi-language code snippets, help me decide whether two code snippets are similar.</br>
Some of the snippets are similar and some are totally different. Multi programming languages knowledge is needed.
        Thank you!!!</h3>
        </br>
        </br>
        </br>


	</div>
</div>
<div id="content" style="background: #FFF;">
    <h1 style="padding-left: 3em">Examples:</h1>
<center><img src="./static/images/example.png" width="60%"></center>
    </br>
</br>
    </div>
</br>
</br>
<div id="copyright" class="container">
	<p>&copy; Like2drops. All rights reserved | Meital Ben Sinai |</p>
    <p style = "font-size: 9pt">This project is supported by the European Union's - Seventh Framework Programme (FP7) under grant agreement n° 615688 – ERC- COG-PRIME. | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
